* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    background-color:rgb(33, 52, 144);
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px auto;
    margin-bottom: 60px;
}
p {
    color: rgb(248, 240, 80);
    font-size: 40px;
}
.play {
    display: flex;
    align-items: center;
    justify-content: center;
}
button {
display: flex;
align-items: center;
border-radius: 20%;
margin-top: 100px;
margin-left: 50px;
width: 100px;
height: 100px;
background-color: rgb(248, 240, 80);
}
button img {
display: flex;
align-items: center;
justify-content: space-between;
width: 70px;
margin-left: 15px;
background-color: rgb(248, 240, 80);
}
.score-keeper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 35px;
    margin-top: 120px;
}
.score-keeper .player-score {
    border: solid black;
    padding: 20px;
}
.score-keeper .computer-score {
    border: solid black;
    padding: 20px;
}